<style>
  .navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }

  .navbar li {
    float: left;
  }

  .navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .navbar li a:hover {
    background-color: #111;
  }

  .activeLink {
    font-size: 25px;
    color: aqua;
  }
</style>

<nav>
  <ul class="navbar">
    <li>
      <a
        routerLink="/"
        routerLinkActive="activeLink"
        [routerLinkActiveOptions]="{ exact: true }"
        >Home</a
      >
    </li>

    <li>
      <a routerLink="/about" routerLinkActive="activeLink">About</a>
    </li>

    <li>
      <a routerLink="/contact" routerLinkActive="activeLink">Contact</a>
    </li>

    <li>
      <a routerLink="/services" routerLinkActive="activeLink">Service</a>
    </li>
    <!-- <a [routerLink]="['/network-security', {name: 'John'}]"><button>Learn More</button></a> -->

    <li>
      <a
        [routerLink]="['/courses', { course: 'fgvyyt', id: 'C103' }]"
        routerLinkActive="activeLink"
      >
        Courses
      </a>
    </li>

    <li>
      <a routerLink="/admin" routerLinkActive="activeLink"> Admin </a>
    </li>
  </ul>

  <button (click)="navigateToCourses()">Nav To Courses</button>
</nav>

<!-- CONTAINER  FOR PAGES -->
<router-outlet></router-outlet>

<footer>
  <p>&copy; Copyright 2023, Todo List</p>
</footer>
