<style>
  .container {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
  }

  .card {
    margin: 5px;
    padding: 10px;
    width: 250px;
    border: solid 1px black;
  }

  .card-link {
    text-decoration: none;
    color: black;
  }
</style>

<h1>user-details works!</h1>
<button (click)="getuserDetails()">GEt User Details</button>

<div class="container">
  <div class="card">
    <h2>id: {{ user.id }}</h2>
    <h2>Name: {{ user?.username }}</h2>
    <h3>email: {{ user?.email }}</h3>
  </div>
</div>
